@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
        <a asp-controller="ShoppingCart" asp-action="Index" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-shopping-cart">
            </span>
            ShoppingCart: @Model.ShoppingCart.ShoppingCartItems.Count
        </a>
    </li>
}